<mat-card>

  <mat-toolbar color="primary">Inserir Curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-with">
      <mat-form-field class="full-with">
        <input matInput placeholder="Nome" formControlName="name">
        <mat-error *ngIf="form.get('name')?.invalid"> {{ getErrorMessage('name') }} </mat-error>
      </mat-form-field>

      <mat-form-field class="full-with">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option></mat-option>
          <mat-option value="front-end">Front-End</mat-option>
          <mat-option value="back-end">Back-End</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-toolbar>
        <span>Aulas</span>
        <button mat-icon-button color="primary" (click)="addNewLesson()">
          <mat-icon aria-label="Adicionar uma nova aula ">add</mat-icon>
        </button>
      </mat-toolbar>

      <mat-error *ngIf="isFormArrayRequired()" class="form-array-error">
        Adicione ao menos uma aula.
      </mat-error>

      <table style="width: 100%" formArrayName="lessons" *ngFor="let lesson of getLessonsForArray(); let i = index">
        <tr [formGroupName]="i">
          <td style="width: 65%">
            <mat-form-field class="full-with">
              <mat-label>Título da aula</mat-label>
              <input matInput formControlName="name">
              <mat-error *ngIf="getLessonsForArray()[i].get('name')?.invalid" class="form-array-error">
                Campo Inválido.
              </mat-error>
            </mat-form-field>
          </td>
          <td style="width: 30%">
            <mat-form-field class="full-with">
              <mat-label>URL</mat-label>
              <span matPrefix>www.youtube.com/</span>
              <input matInput formControlName="youtubeUrl">
              <mat-error *ngIf="getLessonsForArray()[i].get('youtubeUrl')?.invalid" class="form-array-error">
                Campo Inválido.
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <button mat-icon-button color="warn" (click)="removeLesson(i)">
              <mat-icon aria-label="Remover aula">delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>

    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>

    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
