mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

mat-card-actions {
  margin: 0.1em auto;
  text-align: center;
}
mat-card-content {
  margin-top: 15px;
}
button {
  margin: 5px;
}

.full-with {
  width: 100%;
}

.min-with {
  width: 100%;
  min-width: 150px;
}

.form-array-error {
  text-align: left;
}
